doctype html
html
  head(lang='en')
    mete(charset="uft-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Movex 
    // Bootstrap file
    link(href="css/bootstrap.min.css", rel="stylesheet")
    // Main css file
    link(href="css/main.min.css", rel="stylesheet")
    // Fonts
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,800&display=swap", rel="stylesheet")
  body
    block pageContent
      div(class="main-content")
        .box This is test
        button(class="btn btn-primary") Ok
        div(class="alert alert-primary", role="alert") Lorem ipsum dolor sit amet.

    // jQuery
    script(src="js/jquery-3.4.1.min.js") 
    // Bootstrap
    script(src="js/bootstrap.min.js") 
    // Main js file
    script(src="js/main.min.js") 